h2{
    color: white;
    font-family: 'Comic Neue', cursive;
}
.primeira_parte{
    background-image: url(https://i.pinimg.com/564x/7c/e9/e4/7ce9e4c3f05e3ad7ee48a875c206c32a.jpg);
    background-size: cover;
    color: white;
}
.segunda_parte{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v463-aum-76-abstractbackground_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=600&s=96443be22a340f613a4b8b8f2d11dcd6);
    background-size: cover;
}
.perfil{
    padding: 1em;
    width: 13em;
    padding: 1em;
    box-shadow:1px 1px 10px 5px rgb(216, 152, 69);
}
.container-fluid img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid{
    padding: 1em;   
}
.presentation h2{
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;    
    justify-content: center;
}
.presentation p{
    font-family: 'Comic Neue', cursive;
        
}
.tracejado{
    padding: 0;
    border-bottom: rgb(253, 253, 253) dashed;
    background-color: rgb(2, 2, 2);
    margin: 0;
}
.card{
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
    
}
.test{
    padding: 10px;
}
.card-text{
    display:none;
    font-family: 'Comic Neue', cursive;
    color: black;
}
.card :hover .card-text{
    display: block;
}
.jogos{
    background-image: url(https://i.pinimg.com/564x/22/ac/86/22ac8678fa926428579560a400f55fbe.jpg);
    
  }
.jogos img{
    max-width: 50em;
    box-shadow:1px 1px 10px 5px rgb(216, 152, 69);
}

.idolos{
    background-image: url(https://i.pinimg.com/564x/a0/7b/ca/a07bca44caf0457cd925bfbca34f747b.jpg);
}

ion-icon{
    font-size: 50px;
}
footer{
    box-shadow:1px 1px 10px 5px rgb(216, 152, 69);
}